<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <select id="selectUserById" resultType="model.User" resultMap="mapper.UserMapper.userResultMap">
        select * from users where user_id = #{id}
    </select>
    <resultMap id="userResultMap" type="model.User" autoMapping="false">
       <id property="userId" column="user_id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name" />
        <result property="email" column="email"/>
        <result property="dateRegistered" column="date_registered"/>
    </resultMap>

    <select id="selectAllUsers" resultType="model.User" resultMap="mapper.UserMapper.userResultMap">
        select * from users
    </select>
    
    <insert id="addUser">
        insert into users (first_name, last_name, email, date_registered)
        values (#{firstName}, #{lastName}, #{email}, #{dateRegistered});
    </insert>

    <update id="updateUser">
        update users set first_name = #{firstName}, last_name = #{lastName},
        email = #{email}, date_registered = #{dateRegistered} where user_id = #{userId}
    </update>

    <delete id="deleteUser">
        delete from users where user_id = #{id}
    </delete>
</mapper>